[Oo]bj
[Bb]in
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 

target/
.classpath
.project
.settings

*.DS_Store
[Tt]humbs.db

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
